<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>your optimal ticket:</title>
</head>
<body>
<h1>name: <span th:text="${userFirtsName}"></span></h1>
<h2>second name:  <span th:text="${userSecondName}"></span></h2>
<h3>balance: <span th:text="${userBalance}"></span> </h3>
<h3>email: <span th:text="${emailAddress}"></span> </h3>
<h3>departure city: <span th:text="${departureCity}"></span> </h3>
<h3>arrival city: <span th:text="${arrivalCity}"></span> </h3>
<h3>ticket price: <span th:text="${ticketPrice}"></span> </h3>
<h3>quantity of the segments: <span th:text="${segmentsQuantity}"></span> </h3>
</body>
</html>